@font-face {
  font-family: 'baumans';
  src: url(./Fonts/baumans/Baumans-Regular.ttf);
}

body {
  display: flex;
  margin: 0;
  height: 100vh;
  flex: 1;
  font-family: baumans;
  overflow: hidden; 
}

.picture {
  width: calc(100vw / 2);
  background-image: url(./Images/sidepic_.jpg);
  background-size: cover;
  background-position: center;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  text-align: center;
}

.odin {
  margin-top: calc(100vh / 7);
  background-color: rgba(0, 0, 0, .5);
}

img {
  padding: 10px;
  width: 350px;
}

.title {
  padding: 40px;
  padding-left: 10px;
  margin-bottom: -40px;
}


input[type='text'],
input[type='password'],
input[type='tel'],
input[type='email'] {
  padding-block: 10px;
  padding-inline: 5px;
  border: .5px solid rgb(216, 214, 214);
  border-radius: 10px;

  width: calc(25vw - 40px);
}

input:focus {
  outline: none;
  border-bottom: 2px solid cadetblue;
}

input:valid {
  border: 1px solid rgb(21, 189, 21);
}

#error-text {
  padding-left: 1.25rem;
  margin-top: -10px;
  height: 15px;
  padding-bottom: 20px;
  color: red;
}

.form-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100vw / 2);
}

* .form-row {
  display: flex;
  justify-content: space-between;
  padding-inline: 1.25rem;
}

label {
  display: block;
  padding-block: 2px;
  font-style: oblique;
}

.input-field {
  box-shadow: 1px 1px 3px rgb(90, 92, 90);
}

.create {
  margin-top: 25px;
  padding-left: 1.25rem;
  padding-bottom: 50px;
}

button {
  margin: 10px;
  margin-left: 0%;
  padding: 10px;
  padding-inline: 15px;

  background-color: cadetblue;
  border-radius: 6px;
  border: none;
}

a {
  color: #000;
}




@media screen and (max-width: 780px) {
  body {
    display: block;
    overflow: auto;
    font-size: medium;
  }

  .picture {
    width: 100vw;
    padding-block: 100px;
    font-size: 0px;
    margin: 0;
  }

  .odin {
    margin: 0%;
    width: 100vw;
    height: 100%;
  }

  .title {
    text-align: center;
    margin-block: -30px;
  }

  input[type='text'],
  input[type='password'],
  input[type='tel'],
  input[type='email'] {
    padding-block: 10px;
    width: calc(100vw - 100px);
  }

  .form-container {
    display: block;
    width: 100vw;
  }
  
  * .form-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    display: block;
    padding-block: 2px;
    padding-inline: 5px;
  }

  .create {
    padding-top: 20px;
    text-align: center;
    display: block;
  }

  button {
    padding: 10px;
    padding-inline: 45px;
    border-radius: 8px;
    font-size: 20px;
  }
}

@media screen and (max-height: 750px) and (min-width: 781px)  {
  body {
    font-size: .7rem;
  }
}